/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/main.scss */
.divCell {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 12px;
  background-color: #000;
  color: #7c7c7c;
}
/* line 21, ../sass/main.scss */
.divCell .divCell-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #7c7c7c;
}
/* line 30, ../sass/main.scss */
.divCell .divCell-header .match-status {
  color: #9e1212;
}
/* line 34, ../sass/main.scss */
.divCell .divCell-header nav {
  display: flex;
  width: 100%;
}
/* line 39, ../sass/main.scss */
.divCell .divCell-header nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 16px;
  justify-content: flex-end;
}
/* line 46, ../sass/main.scss */
.divCell .divCell-header nav ul li {
  flex: 0 0 16px;
  text-align: right;
}
/* line 54, ../sass/main.scss */
.divCell .player {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 2px;
}
/* line 62, ../sass/main.scss */
.divCell .player .name {
  flex: 0 0 auto;
}
/* line 66, ../sass/main.scss */
.divCell .player .game {
  display: flex;
  width: 100%;
}
/* line 70, ../sass/main.scss */
.divCell .player .game ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 16px;
  justify-content: flex-end;
}
/* line 77, ../sass/main.scss */
.divCell .player .game ul li {
  flex: 0 0 16px;
  text-align: right;
}

/* line 87, ../sass/main.scss */
.winner {
  font-weight: bold;
}

/* line 91, ../sass/main.scss */
.status-finished {
  color: #9e1212;
}

/* line 95, ../sass/main.scss */
.tai-break {
  font-size: 10px;
}
